<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style type="text/css">
	.sch{width:25%;}
	#schingDiv{
		position:absolute;
		top:20%;
		left:40%;
		width:150px;
		height:130px;
	}
	[v-cloak]{display:none;}
</style>
<script type="text/javascript" src="/springweb/a00_com/jquery-3.5.1.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
<script type="text/javascript">
/* 
ex) Vue로 사원명과 직책명으로 ajax를 통한 사원정보 검색
0. 환경설정
	- lib 설정
		https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js
		https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js
		https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js
1. json 데이터 확인
	http://localhost:7080/springweb/jsonEmp.do?ename=A&job=A
2. Vue 객체 기본 선언
	1) 모델데이터
	2) 기능메서드
3. 화면 구성
	css, 조회 이벤트 처리
4. 검색 기능 메서드 상세 구현
*/
//
	$(document).ready(function(){
		var vm = new Vue({
			el: ".container",
			data:{
				title:"사원정보",
				ename:"",
				job:"",
				empList:[],
				isProcessing:false
			},
			methods:{
				search:function(){
					console.log("# 검 색 #");
					console.log("사원명: "+this.ename);
					console.log("직책: "+this.job);
					this.fetchEmps();
				},
				fetchEmps:_.debounce(function(){
					var vm = this;
					this.empList=[];
					this.isProcessing = true;
					console.log("# 검색 진행 중 #");
					
					var url="http://localhost:7080/springweb/jsonEmp2.do?ename="+this.ename+"&job="+this.job;
					fetch(url).then(function(response){
						console.log("# response #");
						console.log(response);
						return response.json();
					}).then(function(json){
						console.log("# json 데이터 #");
						console.log(json);
						// 모델 데이터 할당
						vm.empList = json.empList;
						vm.isProcessing=false;
					}).catch(function(err){
						console.log("# 에러 발생 #");
						console.log(err);
						vm.isProcessing=false;
					});
				},300)
			}			
		});
	});
</script>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h2>{{title}}</h2>
	</div>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<input class="form-control mr-sm-2 sch" type="text" v-model="ename" @keyup.13="search" placeholder="사원명">
		<input class="form-control mr-sm-2 sch" type="text" v-model="job" @keyup.13="search" placeholder="직책명">
		<button @click="search" class="btn btn-success" type="button">Search</button>
	</nav>
	<table class="table table-hover table-striped">
		<thead>
			<tr class="table-success text-center">
				<th>사원번호</th><th>사원명</th><th>직책</th><th>급여</th><th>부서번호</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="emp in empList" class="text-center">
				<td>{{emp.empno}}</td>
				<td>{{emp.ename}}</td>
				<td>{{emp.job}}</td>
				<td>{{emp.sal}}</td>
				<td>{{emp.deptno}}</td>
			</tr>
		</tbody>
	</table>
	<div id="schingDiv" v-show="isProcessing">
		<img src="../a02_instance/process.gif" width="200px" height="150px"/>
	</div>
</div>
</body>
</html>