<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board.a03_dao.A01_BoardDao">
	<!-- public ArrayList<Board> boardList(Board sch) -->
	<resultMap type="board" id="boardMap"/>
	<select id="boardList" resultMap="boardMap" parameterType="board">
		SELECT * FROM BOARD
		WHERE subject LIKE '%'||#{subject}||'%'
		AND writer LIKE '%'||#{writer}||'%'
		ORDER BY no DESC
	</select>
	<!-- public void insertBoard(Board insert)  -->
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board 
		VALUES (BOARD_seq.nextval, #{refno}, #{subject}, #{content}, #{writer}, 
				0, sysdate, sysdate)
	</insert>
	<!-- public void uploadFile(BoardFile ins) -->
	<!-- 상위 board의 번호와 첨부파일의 번호 동일 board_seq.nextval 후, board_seq.currval -->
	<insert id="uploadFile" parameterType="boardfile">
		INSERT INTO BOARDFILE VALUES (BOARD_SEQ.CURRVAL, #{fname}, #{pathname}, #{content}, sysdate)
	</insert>
	<!-- public Board getBoard(int no) -->
	<select id="getBoard" resultType="board" parameterType="int">
		SELECT * FROM BOARD WHERE NO = #{NO}
	</select>
	<!-- public ArrayList<BoardFile> fileInfo(int no); -->
	<!-- resultMap: ArrayList형태의 데이터 중에 column명과 property가 다를 때 사용
		 같을 때에는 ArrayList<BoardFile>의 단위 객체인 resultType(boardfile)만으로도 할당이 가능 -->
	<select id="fileInfo" resultType="boardfile" parameterType="int">
		SELECT * FROM BOARDFILE WHERE NO = #{NO}
	</select>
	<!-- public void uptReadCnt(int no) -->
	<update id="uptReadCnt" parameterType="int">
		UPDATE BOARD
			SET READCNT = READCNT+1
		WHERE NO = #{NO}
	</update>
</mapper>