<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springweb.a02_mvc.a03_dao.A04_CalenDao">
	<!-- public ArrayList<Calendar> calenList(); -->
	<resultMap type="calen" id="calMap">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
	</resultMap>
	<select id="calenList" resultMap="calMap">
		SELECT *
		FROM CALENDAR		
	</select>
	
	<!-- public void insertCalendar(Calendar ins); -->
	<insert id="insertCalendar">
		INSERT INTO calendar 
		VALUES (cal_seq.nextval, '', 
				#{title}, #{writer}, #{content},
				#{start}, 
				#{end}, 
				#{allDay},#{textColor},#{backgroundColor},
				#{borderColor})
	</insert>
	
	<!-- public void updateCalen(Calendar upt); -->
	<update id="updateCalen">
		update calendar
			set title = #{title},
				start1 = #{start},
				end1 = #{end},
				content = #{content},
				backgroundColor = #{backgroundColor},
				borderColor = #{borderColor},
				textColor = #{textColor},
				allDay = #{allDay}
		where id = #{id}	
	</update>
	
	<!-- public void deleteCalen(int id); -->
	<delete id="deleteCalen">
		delete from calendar where id = #{id}
	</delete>
</mapper>